@model PuzzleCard

<div id="@Model.CardId" class="playerCard" data-cardId="@Model.CardId">
    @*<div>Card Id: @Model.CardId</div>*@
    <div style="float: right; font-size:larger;">@Model.CardNumber</div>
    <div>
        @if (Model.CardResource == 1) {
            <img src="~/Content/Images/PizzaBall.jpg" class="img-circle" width="120" />
        }
        else if (Model.CardResource == 2)
        {
            <img src="~/Content/Images/birdup.jpg" class="img-circle" width="120" />
        }
        else if (Model.CardResource == 3)
        {
            <img src="~/Content/Images/ranchitup.jpg" class="img-circle" width="120" />
        }
        else if (Model.CardResource == 4)
        {
            <img src="~/Content/Images/spagett.jpg" class="img-circle" width="120" />
        }
    </div>
    <div style="float: left; font-size:larger;">@Model.CardNumber</div>
</div>
