<table class="table-condensed">
    <tr>
        <td>
            <img src="~/Content/Images/Food.png" class="img-circle" width="30" /> @Model.Food
        </td>
        <td>
            <img src="~/Content/Images/Gold.jpg" class="img-circle" width="30" /> @Model.Gold
        </td>
        <td>
            <img src="~/Content/Images/Wood.jpg" class="img-circle" width="30" /> @Model.Wood
        </td>
        <td>
            <img src="~/Content/Images/Stone.jpg" class="img-circle" width="30" /> @Model.Stone
        </td>
        <td>
            <img src="~/Content/Images/coal.jpg" class="img-circle" width="30" /> @Model.Coal
        </td>
    </tr>
</table>

