@model GameInstance

@{
    ViewBag.Title = "PlayGame";
}

<h3>@Model.NumberOfPlayers Players</h3>

<div class="alert-warning">Player @(Model.CurrentPlayerTurn)'s turn</div>
<div class="alert-info">Click a square to play</div>

@using (Html.BeginForm("PlayerAction", "Home", FormMethod.Post, new { id = "frmPlayerAction" }))
{ 
    <table class="table-bordered table-striped table">
    @foreach (int i in Model.GameGrid.BoardRows.Keys)
    {
        <tr>
            @foreach (BoardSlot b in Model.GameGrid.BoardRows[i])
            {
                <td align="center">
                    <div id="coordinate_@(i)_@(b.Yvalue)">
                        @if (b.Occupied())
                        {
                            <div style="float:right;">@b.CardInfo.CardNumber</div>
                            <div style="align-content:center;">@b.CardInfo.CardResource</div>
                            <div style="float: left;">@b.CardInfo.CardNumber</div>
                            @*<div><img src="@b.CardInfo.CardResourceImage" class="img-circle" /></div>*@
                        }
                        else
                        {
                            <div class="squareClicked" data-x="@(i)" data-y="@(b.Yvalue)">Click to Play Here</div>
                        }
                    </div>
                </td>
            }
        </tr>
    }
    </table>

    <h3>Player @(Model.CurrentPlayerTurn)'s Cards:</h3>
    <table class="table-bordered table-striped table">
        <tr>
            @foreach (PuzzleCard c in Model.Players[Model.CurrentPlayerTurn].Hand)
            {
                <td>
                    <div>Card Id: @c.CardId</div>
                    <div>Number: @c.CardNumber</div>
                    <div>Resource: @c.CardResource</div>
                </td>
            }
        </tr>
    </table>

    <input type="submit" style="display: none;" />
    <input type="hidden" id="gridXvalue" name="gridXvalue" value="" />
    <input type="hidden" id="gridYvalue" name="gridYvalue" value="" />
}

@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {

        $(".squareClicked").click(function () {
            var x_value = $(this).data('x');
            var y_value = $(this).data('y');

            $('#gridXvalue').val(x_value);
            $('#gridYvalue').val(y_value);

            $("#frmPlayerAction").submit();
        });
    });
</script>
}
